# Variables de entorno para producción
FLASK_ENV=production
SECRET_KEY=tu_clave_secreta_aqui_generala_con_python-secrets

# Base de datos Neon.tech
DATABASE_URL=postgresql://username:password@ep-xxx.us-east-1.aws.neon.tech/dbname?sslmode=require

# Configuración adicional
FLASK_APP=app.py
DEBUG=False
